.loader{
 width: 80px;
 height: 80px;
 border-top: 10px dotted black;
 border-left: 10px dotted black;
 border-right: 10px dotted black;
 border-bottom: 10px dotted black;

 
 
}
.loader:hover{
   animation-name: loading;
   animation-duration: 1s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   
}
@keyframes loading {
    0%{
        transform: translateY(0px)rotate(0deg);
        
}
50%{
    transform: translateY(400px)rotate(180deg);
 
}
    100%{
        transform: translateY(0px)rotate(360deg);
    }
}