/* element selector */
h2{
    color:yellow;
}
h1{
    color:red;
    background-color: yellow;
}
#ed{
color:blue
}
.agr{
    color:brown;
    font-size: 50px;
}
input[type="text"]{
    background-color: azure;
}
a[href="google.com"]{
    font-size: 50px;
}
*{
    border:2px solid black;
}