<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form for adding a new Song</h1>
    <form action="/songs" method="POST">
        SongName:
        <input type="text" name="songName">
        <br>
        duration:
        <input type="number" name="duration">
        <br>
        singerName:
        <input type="text" name="singerName" id="" >
        <br>
        Singer Age:
        <input type="number" name="singerAge" id="" >
        <br>
        <button>Add Song</button>
    </form>
</body>
</html>