div{
    border: 2px solid black;
    height: 100px; 
    width: 100px;
    /* display: inline-block; */
    display: flex;
}
section{
    border: 2px solid red;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    /* align-items: stretch; */
    align-items: center;
    flex-wrap:wrap-reverse;
    
    
   
    /* align-items: flex-start; */ 
       /* align-items: stretch; */
}
/* 
flex wrap is a parent property 


*/